i# Compiled class files and other build artifacts
*.class
/build/
*.jar
*.war
*.ear
*.nar

# Gradle-specific files and directories
.gradle/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar  # Keep the Gradle wrapper JAR for consistent builds

# Virtual machine crash logs
hs_err_pid*

# IDE-specific files (IntelliJ IDEA example)
.idea/
*.iml
*.ipr
*.iws

# Eclipse-specific files (if applicable)
.settings/
.classpath
.project
bin/
tmp/

# NetBeans-specific files (if applicable)
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Operating system specific files
.DS_Store
Thumbs.db
